/* Estilos para los ejemplos de esta clase */
* {
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
}



.boton, #b1,#b2,#b3,#text {
    color: white;
    border-radius: 3px;
    border: 1px solid #303030;
}

#text {
    color: #303030;
}

.boton, #b1 {
    background-color: coral;
}

#b2 {
    background-color: coral;
}

#b3 {
    background-color: coral;
}

.nuevaClase {
    border-bottom: 2px solid red;
    background: coral;
    margin-top: 10px;
}