/* Definir el tamaño de fuente 62.5%
en el html */
html{
    font-size: 62.5%;
}




/* Definir las propiedades para el contenedor
máximo ancho 120rem
display
tamaño de 3 columnas con repeat()
tamaño de 4 filas con repeat() y auto ajuste
áreas con grid-template-areas
margen derecho e izquierdo auto ajuste
separación columnas y filas con gap*/

.contenedor{
max-width: 120rem;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(a, auto);
grid-template-areas: "header header header "
"main main sidebar"
"bloque-1 bloque-2 sidebar"
"footer footer footer ";
margin-right: auto;
margin-left: auto;
gap: 1rem;

}


/* Partiendo del contenedor
.contenedor .elemento
Definir el nombre de cada área 
con la propiedad grid-area indicando el nombre 
sin comillas
color fondo #12203e cabeza y pie
color fuente
alto en vh
Nota: sidebar sin altura
 */
 .contenedor .header{

    grid-area: header;
    background-color: black;
    color: aliceblue;
    height: 10vh;
    font-size: 6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center
 }

 .contenedor .main{
grid-area: main;
background-color: bisque;
color: black;
height: 40vh;
text-align: center;
font-size: 4em;
font-family: 'Courier New', Courier, monospace;
font-style: italic;

 }

 .contenedor .sidebar{
    grid-area: sidebar;
    background-color: rgb(209, 243, 16);
    color: black;
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font
    

 }

 .contenedor .bloque-1{
    grid-area: bloque-1;
    background-color: blueviolet;
    color: black;
    height:20vh;
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-style: oblique;
    
    


 }

 .contenedor .bloque-2{
    grid-area: bloque-2;
    background-color: rgb(16, 184, 235);
    color: black;
    height: 20vh;
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-style: oblique;

 }

 .contenedor .footer{
grid-area: footer;
background-color: rgb(182, 178, 178);
color:rgb(0, 0, 0) ;
height: 5vh;
font-size: 5em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
font-variant-position: normal;

 }