*{
    margin:0;
}

body{
    /* background-color: cornflowerblue; */
    background-image: url('../img/fondo-concreto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;

}

section{
    background-color: darkcyan;
    height: 10em;
    
}